body, p, h1 {
	padding: 0;
	margin: 0;
}
body {
	background-size: auto 100vh;
	background-image: url('../images/lolwallpaper.jpg');
}
#wrapper {
	position: absolute;
	top: 5px;
	left: 5px;
	min-width: 600px;
	background: rgba(0,0,0,0.5);
}

#header {
	height: 50px;
	color: #ffffff;
	padding-left: 10px;
}
#header #title {
	float: left;
	font-size: 40px;
	font-weight: bold;
}
#header #loading {
	position: absolute;
	top: 10px;
	right: 10px;
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	display: none;
}

#container #content {
	width: 100%;
	float: right;
}
#container #content #conversation {
	overflow-y: scroll;
}
#container #content #textinput {
	height: 30px;
	padding: 5px;
	background: #000000;
}
#container #sidebar {
	float: right;
	background-image: url('../images/teemo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#container #sidebar #example {
	color: #ffffff;
}

/* speech bubble */
.bubblewrap {
	text-align: right;
	padding: 5px;
}
.bubble {
	color: #ffffff;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 3px;
}

.watson {
	text-align: left;
}