body, p, h1 {
	padding: 0;
	margin: 0;
}
body {
	background-size: auto 100vh;
	background-image: url('../images/lolwallpaper.jpg');
}
#wrapper {
	position: absolute;
	top: 5px;
	left: 5px;
	background: rgba(0,0,0,0.5);
}

#header {
	height: 50px;
	color: #ffffff;
	padding-left: 10px;
}
#container #content {
	width: 100%;
	float: left;
}
#container #content #conversation {
	overflow-y: scroll;
	background-size: auto 460px;
}
#container #content #textinput {
	height: 30px;
	padding: 5px;
	background: #000000;
}
#container #sidebar {
	width: 200px;
	float: right;
	background-image: url('../images/teemo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/* speech bubble */
.bubblewrap {
	padding: 5px;
}
.bubble {
	color: #ffffff;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 3px;
}

.watson {
	text-align: right;
	font-color : yellow;
}